*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.form{
    width: 400px;
    box-shadow: 1px 1px 12px rgba(0,0,0,0.4);
    padding: 20px;
    border-radius: 12px;
    margin: 40px auto;
}
label, input {
    display: block;
    margin: 12px 0;
}
label{
    font-size: 18px; 
}
input, textarea, select {
    font-size: 16px;
    padding: 6px;
    border:none;
    border-radius: 6px;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.4);
}
.container{
    width: 70vw;
    margin: 10px auto;
    padding: 40px 20px;
}
h1{ 
    color:blue;
    font-family: 'Times New Roman', Times, serif;
}
.container p{
    font-size: 18px;
    color:black;
    margin: 14px 0;
}
button{
    margin-top: 20px;
    background-color: #fff;
    border: 2px solid blue;
    border-radius: 6px;
    padding: 6px 10px;
    font-size: 18px;
    color: blue;
    cursor: pointer;
}